.mogo.sliders
  .mogo__banner.mogo__banner
    .mogo__container
      .mogo__banner__container
        .contenttext
          p.titlesmall Creative Template
          p.titlebig Welcome to MoGo
          .line
          .btnmore
            a.linkbtn Learn more

