.mogo__footer
  .mogo__container
    
    .mogo__allrightsreserved
      .text © 2016 MoGo free PSD template by 
        span   Laaqiq
      .suscribe
          form(action='/action_page.php')
            label(for='email') First Name
            input#email(type='text', name='email', placeholder='Your Email...')
            input(type='submit', value='Subscribe')
