extends extends/base

block content

  #mogo

    input(type="checkbox" id="mogocheck")
    include includes/header
    include includes/banner
    include includes/services
    include includes/ourteam
    

    //- include includes/page

    include includes/footer

block bottom
